@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  /* --------------------- HEADER ---------------------- */
  .header .container {
    justify-content: start;
  }

  .logo {
    margin-right: 76px;
  }

  .nav-list {
    margin-right: 332px;
  }

  .nav-contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .nav-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* --------------------- HERO ---------------------- */

  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero.jpg);
  }

  .hero {
    margin-bottom: 48px;
  }

  /* --------------------- ADVANTAGES ---------------------- */
  .advantages-section {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .advantages-thumb {
    display: block;
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .advantages-list .desc {
    width: 264px;
    font-weight: 400;

    margin: 0;
  }

  /* --------------------- What are we doing? ---------------------- */
  .what-section {
    display: block;
  }

  /* --------------------- TEAM ---------------------- */

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }


  /* --------------------- CUSTOMERS ---------------------- */

  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* --------------------- Portfolio Page ---------------------- */
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .filters-list {
    margin-bottom: 72px;
  }

  .portfolio-list  {
    row-gap: 48px;
  }

  .portfolio-list .item {
    width: 360px;
  }


  /* --------------------- FOOTER ---------------------- */

  .footer .container {
    align-items: center;
    flex-direction: row;
    gap: 0;
    padding-left: 15px;
  }

  .footer .subtitle {
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-flex-wrap {
    padding: 0;
    gap: 120px;
    justify-content: start;
    margin-right: 80px;
  }

  .footer-subscribe-container {
    padding: 0;
    padding-bottom: 40px;
  }
  .footer-social .subtitle {
    text-align: left;
  }
  .footer-social {
    padding-bottom: 33px;
  }
}
