:root {
  --primary-brand: #4d5ae5;
  --ocean: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtitle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* H1-H6, UL OL, P */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Body */

body {
  color: var(--text);
  background-color: var(--white);

  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: var(--dark);
  text-decoration: none;
}

.logo .logo-item {
  color: var(--primary-brand);

  letter-spacing: 0.03em;
}

.logo.light {
  display: inline-block;
  margin-bottom: 16px;

  color: var(--light);
}

/* Utilities  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 72px;

  color: var(--dark);
}

.desc {
  line-height: 1.5;
}

.desc.light {
  color: var(--accent);
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;

  color: var(--dark);
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 0;
  border-radius: 4px;
  outline: none;
  color: var(--white);

  cursor: pointer;
}
.group {
  padding-top: 32px;
  padding-bottom: 12px;

  text-align: left;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Header */

.header {
  position: relative;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.menu-icon {
  fill: var(--dark);
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-bottom: 284px;
}
header .nav-link {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--dark);

  transition: color 250ms var(--cubic);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.nav-link.current {
  color: var(--primary-brand);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  top: 41px;

  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--primary-brand);
  border-radius: 2px;
}

.nav-contacts-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--text);
}

.mobile-menu .menu-current {
  color: var(--ocean);
}

.mobile-menu.is-hidden {
  display: none;
}

.nav-list {
  display: none;
}
.nav-contacts {
  display: none;
}

.mobile-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  overflow: auto;

  padding: 80px 0 40px 40px;

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  z-index: 999;
}

.header-close {
  position: absolute;
  top: 40px;
  right: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);

  cursor: pointer;
}

.header-close .icon-close {
  fill: #000000;
  transition: fill 250ms var(--cubic);
}

.header-close:active,
.header-close:focus {
  background-color: var(--ocean);
  outline: none;
}

.header-close:active .icon-close,
.header-close:focus .icon-close {
  fill: #ffffff;
}

.mob-nav-contacts {
  margin-bottom: 48px;
}
.mob-nav-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-nav-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--text);
}

.mob-nav-contacts-link.tel {
  display: inline-block;

  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;

  color: var(--ocean);
}

.header .social-link-thumb {
  display: flex;
  gap: 56px;
}

/* Hero */
.hero-section {
  padding-top: 112px;
  padding-bottom: 112px;

  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 72px;

  color: var(--white);
}
.hero-button {
  display: block;

  margin: 0 auto;
  padding: 16px 32px;

  border-radius: 4px;
  color: var(--white);
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Advantages */
.advantages-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-thumb {
  display: none;
  width: 264px;

  background-color: var(--light);
  border-radius: 4px;

  padding: 24px 100px;
  margin-bottom: 8px;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages-list .desc {
  font-weight: 500;
}

/* What are we doing? */
.what-section {
  display: none;

  padding-top: 120px;
  padding-bottom: 120px;
}

.services-list {
  display: flex;
  gap: 24px;
}

/* Team */
.team-section {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--light);
}
.team-list {
  display: flex;
  flex-direction: column;

  gap: 72px;
}
.team-item {
  width: 264px;

  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  display: block;

  width: 264px;
  height: 260px;
}

.team-group {
  text-align: center;
}

.team-group .team-subtitle {
  margin-bottom: 8px;
}

.social-link-thumb {
  display: flex;

  gap: 24px;

  padding: 0 16px 36px;
}
.social-link {
  display: inline-flex;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand);
  transition: background-color 250ms var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  width: 16px;
  height: 16px;
}

/* Customers */

.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}
.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  outline: none;
  border: 1px solid var(--subtitle-text);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--ocean);
}

.customers-icon {
  fill: var(--subtitle-text);
  transition: fill 250ms var(--cubic);
}

/* Portfolio Page */
.portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 24px;

  margin-bottom: 48px;
}

.filters-list .item:nth-child(3) {
  width: 90px;
}

.filters-button {
  padding: 8px 16px;

  color: var(--primary-brand);
  background-color: var(--light);

  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.filters-button:hover,
.filters-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-list .item {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms var(--cubic);
}

.card-link {
  outline: none;
  transition: box-shadow 250ms var(--cubic);
}

.card-link .desc {
  color: var(--text);
}

.card-link:focus,
.portfolio-list .item:hover .card-link {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-desc {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding: 40px 32px;

  color: var(--light);
  background-color: var(--primary-brand);

  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.portfolio-list .item:hover .overlay-desc,
.card-link:focus .overlay-desc {
  transform: translateY(0);
}

.portfolio-image {
  display: block;
  width: 100%;
}

.portfolio-group {
  display: inline-block;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Footer */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--dark);
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.footer .subtitle {
  color: var(--white);
  margin-bottom: 16px;

  text-align: center;
}

.footer-flex-wrap {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-wrap .logo {
  display: block;
  text-align: center;
}

.footer-wrap .desc {
  width: 268px;

  margin: 0 auto;
}

.footer-social-thum {
  display: flex;
  justify-content: center;

  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;

  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success);
}

.footer-icons {
  width: 24px;
  height: 24px;
}

.footer-subscribe .subtitle {
  color: var(--white);
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-input {
  width: 264px;
  height: 40px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--white);

  padding: 8px 16px;
  margin: 0 auto;

  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  transition: border-color 250ms var(--cubic);
}

.footer-input:focus {
  border-color: var(--primary-brand);
}

.subscribe-button {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 165px;

  padding: 8px 24px;
  margin: 0 auto;

  background-color: var(--primary-brand);

  transition: background-color 250ms var(--cubic);

  cursor: pointer;
}

.subscribe-button:focus,
.subscribe-button:active {
  background-color: var(--ocean);
}

.subscribe-icon {
  fill: var(--white);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  padding-left: 18px;
  padding-right: 18px;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  width: 392px;
  min-height: 576px;

  padding: 24px;
  padding-top: 72px;

  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms var(--cubic);
}

.backdrop.is-hidden .modal {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic);

  cursor: pointer;
}

.modal-close .icon-close {
  fill: #000000;
  transition: fill 250ms var(--cubic);
}

.modal-close:active,
.modal-close:focus {
  background-color: var(--ocean);
  outline: none;
}

.modal-close:active .icon-close,
.modal-close:focus .icon-close {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 14px;

  color: var(--dark);
}

.label-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  margin-bottom: 4px;

  color: var(--subtitle-text);
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;

  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: var(--text);

  padding: 0;
  padding-left: 38px;
  margin-bottom: 8px;

  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms var(--cubic);
}

.modal-input.textarea {
  width: 100%;
  height: 120px;

  padding: 8px 16px;
  margin-bottom: 16px;

  resize: none;
}

.modal-input.textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.field-group {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  fill: var(--dark);

  transition: fill 250ms var(--cubic);
}

.modal-input:focus {
  border-color: var(--primary-brand);
}

.modal-input:focus + .modal-icon {
  fill: var(--primary-brand);
}

.checkbox-group {
  position: relative;
}

.privacy-link {
  color: var(--primary-brand);
}

.checkbox-group {
  margin-bottom: 24px;
}

.label-text.privacy {
  display: flex;
  align-items: center;
}

.label-text.privacy span {
  position: relative;

  display: inline-block;
  width: 16px;
  height: 16px;

  margin-right: 8px;

  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  background-color: transparent;

  transition: background-color 250ms var(--cubic),
    border-color 250ms var(--cubic);
}

.privacy-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  fill: transparent;

  transition: fill 250ms var(--cubic);
}

.input-checkbox:checked + .label-text span {
  background-color: var(--primary-brand);
  border-color: var(--primary-brand);
}

.input-checkbox:checked + .label-text .privacy-icon {
  fill: var(--light);
}

.send-button {
  display: block;
  min-width: 169px;

  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--cubic);
}

.send-button:focus,
.send-button:active {
  background-color: var(--ocean);
}

@import url(./mobile.css);
@import url(./tablet.css);
